/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

* {
  box-sizing: border-box;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

h4 {
  margin-bottom: 0;
}
.website p {
  margin: 0;
}

h3 {
  margin-top: 2em !important;
  margin-bottom: 0.2em !important;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  font-family: "source-sans-pro", system, -apple-system,
      ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
}

a {
  color: #ce1e6c;
}

a:visited {
  color: #85757c;
}

header.main {
  background: transparent url(/images/header.svg) no-repeat center;
  background-size: cover;
  color: #fff;
  margin-bottom: 1em;
  padding: 2em .8em 3em;
  position: relative;
  text-align: center;
}

header.main h1 {
  letter-spacing: 0.1em;
  margin-bottom: 0;
  text-transform: uppercase;
}

header.main h2 {
  font-size: 1em;
  font-weight: 400;
}

header.main div.join {
  margin-top: 1em;
}

header.main div.join a {
  background-color: white;
  border-radius: 0.3em;
  color: #ce1e6c;
  margin-left: 0.1em;
  padding: 0.2em 0.5em;
  text-decoration: none;
}

header.main div.join a:hover {
  background-color: #ce1e6c;
  color: white;
}

h1,
h2,
h3 {
  margin: 0;
}

main {
  clear: both;
  font-size: 24px;
}

main,
.wrap {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 24px;
  word-wrap: break-word;
}

.next-meeting {
  background: white;
  font-size: 24px;
  position: relative;
}

.next-meeting header {
  font-weight: 700;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em 1em;
  text-align: center;
}

.next-meeting .meetup-info {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ededed;
}

.next-meeting span.next {
  display: block;
  font-size: 0.5em;
}

.next-meeting header span:nth-child(2n) {
  color: #aaa;
  font-weight: 400;
  margin-bottom: 1em;
}

.next-meeting .address {
  display: block;
}

.next-meeting .description {
  font-size: 24px;
  padding: 1em;
  vertical-align: top;
}

.next-meeting #map-canvas {
  float: none;
  min-height: 50vh;
  pointer-events: none;
}

.description span.title,
.description span.website {
  display: block;
}

.description span.title {
  font-weight: 700;
}

.description span.title {
  text-decoration: none;
}

.meetup-info p {
  font-weight: 400;
}

.meetup-info h3 {
  margin-bottom: 0.5em;
}



.previous-meetings,
.archive {
  margin-top: 5em;
}

.previous-meetings .meeting img {
  display: block;
  margin-bottom: 1em;
  max-width: 100%;
}

footer {
  padding: 1em;
  text-align: center;
}

iframe {
  max-width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 600px) {
  header {
    height: auto;
  }

  header.main h1 {
    font-size: 4em;
  }

  header.main h2 {
    font-size: 2em;
    font-weight: 300;
  }

  .next-meeting header {
    font-size: 36px;
  }

  .next-meeting #map-canvas,
  .next-meeting .description {
    min-height: 50vh;
    vertical-align: top;
    width: 50%;
  }

  .next-meeting .description {
    float: left;
  }

  .next-meeting .description h3,
  .next-meeting .description p,
  .next-meeting .description div {
    margin: inherit auto;
    max-width: 800px;
  }

  .next-meeting #map-canvas {
    float: right;
  }
}
