<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Boston Tech Poetics - A creative tech community in the Greater Boston Area</title>

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->


	{{ content }}


	<footer>
		<div>Join the <a href="https://groups.google.com/forum/#!forum/boston-tech-poetics">Tech Poetics Google Group</a> or Follow the <a href="https://www.facebook.com/techpoetics/">Facebook Page</a>.</div>
		<span>© 2023 Tech Poetics</span> <span>Website by <a href="http://edwardloveall.com" target="_blank">Edward Loveall</a></span>
	</footer>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/map.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXUCE_UoFA4eT56CLtbDw5DB9RH-48-lg&callback=initMap"></script>

</body>
</html>
