---
layout: default
---

<header class="main">
	<h1>Boston Tech Poetics</h1>
	<h2>A creative tech community in the Greater Boston Area</h2>
	<div class="join">
		Join our <a href="https://groups.google.com/forum/#!forum/boston-tech-poetics">Google Group</a> or
		Follow our <a href="https://www.facebook.com/techpoetics/">Facebook Page</a>
	</div>
</header>


{% if site.data.next_event %}

<section class="next-meeting">

	<header>
		<span class="next">Next Meeting</span>
		<span class="date">{{ site.data.next_event.date }}</span>
		<span class="time">{{ site.data.next_event.time }}</span>
		<span class="place">{{ site.data.next_event.place }}</span>
		<span class="address">{{ site.data.next_event.address }}</span>
	</header>

	<div class="meetup-info">
		<div class="description">
			<h3><a href="{{ site.data.next_event.facebook }}">Upcoming Boston Tech Poetics</a></h3>
			<span>This event's topic:</span>
			{% for speaker in site.data.next_event.parts %}
				<span class="title">{{ speaker.subtitle }}</span>
				<span class="website">
					{{ speaker.website | markdownify | safe }}
				</span>
				<p class="descri">{{ speaker.descri }}</p>
			{% endfor %}
		</div>
		<div id="map-canvas"></div>
		<div class="clearfix">
	</div>
	</div>
</section>

{% endif %}


<main>
	<section class="previous-meetings">

		<h2>Past Events</h2>

		{% for event in site.data.past_events %}
		<div class="meeting">

			<h3>{{ event[0] }}</h3>
			<img src="{{ event[1].image | prepend: base_path }}" alt="{{ event.alt }}">

			{% for part in event[1].parts %}

				<h4>{{ part.subtitle }}</h4>
				<span class="website">{{ part.website | markdownify | safe }}</span>

				<p>{{ part.descri }}</p>

				{% if part.image %}
					<img src="{{ part.image | prepend: base_path }}" alt="{{ event.alt }}">
				{% endif %}

			{% endfor %}


		</div>
		<hr>
		{% endfor %}

	</section>
</main>
